.first{
	height: 300px;
	background-color:#99CC66;
}
.second{
	height: 300px;
	background-color:#CCCCCC;
}
.bdr{
	height: 20px;
	background-color:#0000FF;
}
.bd{
	height: 20px;
	background-color:#00CC00;
}
.dbox{
	height: 30px;
	background-color:#00CCCC;
}